[Desktop Entry]
Version=1.0
Name=Melonds
GenericName=Emulator
Exec=/usr/bin/melonds
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/melonicon.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=application/x-nintendo-ds-rom;
StartupNotify=true
